.NotesContainer {
  width: 80%;
}

.NoteButton {
  background-color: #00000000;
  color: #4287f5;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: solid;
  border-color: #4287f500;
  border-width: 1px;

}
.NoteButton:hover {
  cursor: pointer;
  background-color: #ffffff10;
  border-style: solid;
  border-color: #4287f5;
  border-width: 1px;
}

.CopyButton:hover{
  border-color: #00000000;
  background-color: #00000030 ;
}